* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-options-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
}

.group {
    width: 100%;
    margin: 8px;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

group:nth-child(1) {
    min-width: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.instagram-perfil {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.instagram-perfil img {
    height: 6rem;
}

.instagram-login {
    padding: 8px;
    border-radius: 4px;
    background-color: #0095f6;
    color: #ffffff;
}

.instagram-logout {
    margin-top: 1rem;
    color: #0095f6;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(/images/apple-button.png);
}

.app-download:nth-child(2) {
    background-image: url(/images/googleplay-button.png);
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 658px) {
    body {
        background-color: #ffffff;
    }
    
    group {
        border: none;
    }
    
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-options-login {
        width: 100%;
    }
}